@import "../../../styles/toRemConvertor";
@import "../../../styles/global.module.scss";

.headerBottom {
  position: relative;
  padding-top: toRem(50);
  padding-bottom: toRem(70);
  background-color: $black;
}

.headerBottom h2 {
  font-style: normal;
  font-weight: 400;
  font-size: toRem(25);
  line-height: toRem(35);
  letter-spacing: 0.025em;
  color: $white;
  width: toRem(640);
  margin-bottom: toRem(70);
}

.information {
  h1 {
    font-family: "Mark Pro Medium", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: toRem(80);
    line-height: toRem(35);
    letter-spacing: 0.025em;
    color: $yellow;
  }
  p {
    font-family: "Mark Pro Bold", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1em;
    line-height: toRem(35);
    letter-spacing: 0.025em;
    color: $white;
    padding-top: toRem(20);
    padding-bottom: toRem(10);
    border-bottom: toRem(3.5) solid $yellow;
  }
}

.stamp {
  position: absolute;
  top: toRem(-52);
  left: toRem(1070);
}
