@font-face {
  font-family: "Mark Pro";
  src: url("//db.onlinewebfonts.com/t/7200c6dd8ac604abe09f5159e53a40c0.eot");
  src: url("//db.onlinewebfonts.com/t/7200c6dd8ac604abe09f5159e53a40c0.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/7200c6dd8ac604abe09f5159e53a40c0.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/7200c6dd8ac604abe09f5159e53a40c0.woff") format("woff"), url("//db.onlinewebfonts.com/t/7200c6dd8ac604abe09f5159e53a40c0.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/7200c6dd8ac604abe09f5159e53a40c0.svg#Mark Pro") format("svg");
}

@font-face {
  font-family: "Mark Pro Medium";
  src: url("//db.onlinewebfonts.com/t/a05747eaf46bae50f19dfa950b86befd.eot");
  src: url("//db.onlinewebfonts.com/t/a05747eaf46bae50f19dfa950b86befd.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/a05747eaf46bae50f19dfa950b86befd.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/a05747eaf46bae50f19dfa950b86befd.woff") format("woff"), url("//db.onlinewebfonts.com/t/a05747eaf46bae50f19dfa950b86befd.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/a05747eaf46bae50f19dfa950b86befd.svg#Mark Pro Medium") format("svg");
}

@font-face {
  font-family: "Mark Pro Heavy";
  src: url("//db.onlinewebfonts.com/t/72112afab388987941068c3f7a741a53.eot");
  src: url("//db.onlinewebfonts.com/t/72112afab388987941068c3f7a741a53.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/72112afab388987941068c3f7a741a53.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/72112afab388987941068c3f7a741a53.woff") format("woff"), url("//db.onlinewebfonts.com/t/72112afab388987941068c3f7a741a53.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/72112afab388987941068c3f7a741a53.svg#Mark Pro Heavy") format("svg");
}

@font-face {
  font-family: "Mark Pro Bold";
  src: url("//db.onlinewebfonts.com/t/01d273202731e44f0f1187f3afcaf156.eot");
  src: url("//db.onlinewebfonts.com/t/01d273202731e44f0f1187f3afcaf156.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/01d273202731e44f0f1187f3afcaf156.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/01d273202731e44f0f1187f3afcaf156.woff") format("woff"), url("//db.onlinewebfonts.com/t/01d273202731e44f0f1187f3afcaf156.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/01d273202731e44f0f1187f3afcaf156.svg#Mark Pro") format("svg");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Mark Pro", sans-serif;
}

.headerBottom {
  position: relative;
  padding-top: 3.125rem;
  padding-bottom: 4.375rem;
  background-color: #000000;
}

.headerBottom h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 1.5625rem;
  line-height: 2.1875rem;
  letter-spacing: 0.025em;
  color: #ffffff;
  width: 40rem;
  margin-bottom: 4.375rem;
}

.information h1 {
  font-family: "Mark Pro Medium", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 5rem;
  line-height: 2.1875rem;
  letter-spacing: 0.025em;
  color: #ffcf23;
}

.information p {
  font-family: "Mark Pro Bold", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1em;
  line-height: 2.1875rem;
  letter-spacing: 0.025em;
  color: #ffffff;
  padding-top: 1.25rem;
  padding-bottom: 0.625rem;
  border-bottom: 0.21875rem solid #ffcf23;
}

.stamp {
  position: absolute;
  top: -3.25rem;
  left: 66.875rem;
}
/*# sourceMappingURL=HeaderBottom.module.css.map */