@import "../../styles/toRemConvertor";
@import "../../styles/color";

.header {
  position: relative;
  height: toRem(790);
  background: linear-gradient(to right, $white 48%, $black 48%);

  h1 {
    font-family: "Heavy", sans-serif;
    font-size: toRem(60);
    line-height: toRem(76);
    letter-spacing: 0.01em;
    width: toRem(302);
    color: $black;
    margin-top: toRem(140);
    margin-bottom: toRem(40);
  }

  .restange-icon {
    position: absolute;
    top: toRem(140);
    left: toRem(410);
  }

  .brakets-icon {
    position: absolute;
    top: toRem(290);
    left: toRem(450);
  }

  .btn-application {
    font-family: "Medium", sans-serif;
    font-size: toRem(17);
    line-height: toRem(22);
    color: $black;
    background: $yellow;
    border-radius: toRem(8);
    margin-top: toRem(36);
    padding: toRem(19) toRem(27.75);

    &:hover {
      transform: scale(1.1);
    }

    i {
      font-size: 1.2rem;
    }
  }

  .alphabet1 {
    position: absolute;
    right: toRem(340);
    top: toRem(-40);
  }

  .alphabet2 {
    position: absolute;
    right: 0;
    top: 270px;
  }

  .manPicture {
    position: absolute;
    top: toRem(-12);
    right: 0;
  }
}
