@import "../../../styles/toRemConvertor";
@import "../../../styles/global.module.scss";

.navbar {
  padding: 0;
  padding-top: toRem(60);
}

.navbar-brand {
  padding: 0;
  img {
    width: toRem(170);
    height: toRem(40);
  }
}

.navLink {
  font-family: "Mark Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: toRem(16);
  line-height: toRem(20);
  color: $black;
  padding: toRem(8) toRem(30) !important;
}

.navLinkRight {
  color: $black;
}
