@import "../../../styles/toRemConvertor";

.courseContainer {
  padding: toRem(50);
  border-radius: toRem(10);
  background-color: #f7f7f5;
  img {
    width: toRem(190);
    height: toRem(130);
  }
}

.courseTitle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  h2 {
    font-family: "Mark Pro Heavy", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: toRem(35);
    line-height: toRem(35);
    letter-spacing: 0.025em;
    color: #000000;
    width: toRem(240);
    margin-bottom: 0;
  }

  h3 {
    font-style: normal;
    font-weight: 400;
    font-size: toRem(24);
    line-height: toRem(32);
    letter-spacing: 0.025em;
    color: #131637;
    margin: 0;
  }
}
