@import "../../../styles/toRemConvertor";
@import "../../../styles/global.module.scss";

.directionInfo {
  padding-top: toRem(90);
  h2 {
    font-family: "Mark Pro Bold", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: toRem(40);
    line-height: toRem(27);
    letter-spacing: 0.025em;
    color: $black;
    margin: toRem(40) 0;
  }
  h3 {
    font-style: normal;
    font-weight: 400;
    font-size: toRem(25);
    line-height: toRem(35);
    letter-spacing: 0.025em;
    color: $black;
    width: toRem(675);
    margin-bottom: toRem(60);
  }
}

.courseGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: toRem(60);
}

.billCourseSum {
  p {
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: toRem(27);
    letter-spacing: 0.025em;
    color: $black;
    margin: 0;
    padding-top: toRem(50);
    padding-bottom: toRem(80);
  }
}
